.loaded {
    visibility: hidden;
    opacity: 0;
}

#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #98fb98;

    display: flex;
    justify-content: center;
    align-items: center;
}

#loading p {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px #4e804e;
}