.loaded {
    visibility: hidden;
    opacity: 0;
}

#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#loading p {
    color: #32cd32;
    text-align: center;
}